<section class="dashboard-section card">
    <h1 class="dashboard-title">Your dashboard</h1>
    <div class="card-body">
        {{#each personalPosts as |post| }}
            {{>dash-details}}
        {{/each}}
    </div>
</section>
<section class="new-post-section">
    <div class="new-post-container">
      <a href="/new-post" class="new-post-link">New Post</a>
    </div>
</section>
